$lista_height:  60px;

html {
  font-family: istokRegular, sans-serif;
}

.navbar-nav {
  left: -1px;
  position: fixed;
  top: 0px;
  height: 100%;
  border-radius: 0;
  border: none;
  border-right: 1px solid #eee;
  background-color: $brand_dark;
  overflow-y: auto;
}

.logo {
  padding: 20px;
  height: 130px;
}

.lista {
  margin-top: 20px;
  margin-right: 0;
  margin-left: 0;
}

.lista__el {
  margin-top: 10px;
  height: $lista_height;
  width: 105%;
  background-color: $brand;
  text-align: center;
  border: none;
}

li .lista__el:hover,
li .lista__el:focus,
li .lista__el.selected, {
  background-color: $brand_light;
}

.lista__el__text {
  color: white;
  line-height: 45px;
  letter-spacing: 0.6px;
}

.info {
  position: absolute;
    left: 0px;
  bottom: 0px;
}

.info__logo {
  margin-top: 60px;
  height: 40px;
  margin-left: calc(50% - 20px);

}

.info__text {
  letter-spacing: 0.6px;
  padding: 30px;
  color: white;
}
