@import "variables.scss";

$lista_height:  60px;

.barra {
  z-index: 5000;
  margin-bottom: 50px;
  background-color: $brand_dark;
  display: block;
}

.barra__text {
  color: white;
  text-align: center;
  font-size: 14px;
}

.collapsed.navbar-toggle {
  background-color: $brand;
  border-color: white;
}

.collapsed.navbar-toggle:hover,
.collapsed.navbar-toggle:focus {
  background-color: $brand_light;
}

.icon-bar {
  display: block;
  background-color: white !important;
}

.navbar-nav {
  display: block;
  margin-left: auto;
  margin-right: auto;
  left: 0px;
  background: url(/assets/fondo_casa.png)no-repeat center bottom;
  position: fixed;
  top: 0px;
  height: 100%;
  border-radius: 0;
  border: none;
  border-right: 1px solid #eee;
  background-color: $brand_dark;
  overflow-y: auto;
}

.menu {
  position: absolute;
  top: 60px;
  left:0;
  margin-right: 0;
  margin-left: 0;
  width: 100%;
}

.menu__users {
  top: 22px;
  left: 35%;
  position: absolute;
  font-size: 20px;
  opacity: 0.9;

  a {
    text-decoration: none;
  }
}

.menu__logout {
  top: 22px;
  left: 55%;
  position: absolute;
  font-size: 20px;
  opacity: 0.9;
}

.menu__logout a {
  color: white;
}

.menu__el {
  margin-top: 10px;
  height: $lista_height;
  width: 100%;
  border-radius: 0 !important;
  background-color: $brand;
  text-align: center;
  border: none;
}

li .menu__el:hover,
li .menu__el:focus,
li .menu__el.active {
  background-color: $brand_light !important;
}

.menu__el__text {
  font-family: istokRegular, sans-serif;
  color: white;
  line-height: 45px;
  letter-spacing: 0.6px;
}

.info {
  position: absolute;
  display: none;
  left: 0px;
  bottom: 50px;
  margin-left: calc(50% - 20px);
}

.info__logo {
  margin-top: 60px;
  display: none;
  height: 40px;
  margin-left: calc(50% - 20px);
}

.info__text {
  font-family: istokRegular, sans-serif;
  font-size: 13px;
  letter-spacing: 0.3px;
  padding: 5%;
  color: white;
  display: none;
}
