$lista_height:  60px;
$footer_height: 80px;

html {
  font-family: istokRegular, sans-serif;
}

.navbar-nav {
  left: 0px;
  position: fixed;
  top: 0px;
  height: 100%;
  border-radius: 0;
  border: none;
  border-right: 1px solid #eee;
  background-color: $brand_dark;
  overflow-y: auto;
}

.logo {
  padding: 20px;
  height:130px;
}

.lista {
  margin-top: 20px;
  margin-right: 0;
  margin-left: 0;
}

.lista__el {
  margin-top: 10px;
  height: $lista_height;
  width: 105%;
  background-color: $brand;
  text-align: center;
  border: none;
}

li .lista__el:hover,
li .lista__el:focus,
li .lista__el.selected, {
  background-color: $brand_light;
}

.lista__el__text {
  color: white;
  line-height: 45px;
}

.info {
    position: absolute;
    left: 0px;
  bottom: $footer_height;
}

.info__logo {
  margin-top: 60px;
  height: 100px;
  width:  100px;
  margin-left: 100px;

}

.info__text {
  
  padding: 30px;
  color: white;
}

.footer {
  position: fixed;
  height: $footer_height;
  width: 100%;
  background-color: white;
  left: 0px;
  bottom: 0px;
}

.footer__img {
  display: inline-block;
  height: 70px;
  margin-left: 22px;
}

.footer__text {
  line-height: $footer_height;
  display: inline-block;
}

