//lista de personas
@import "variables";

.listpeople__fixed__top {
	position: fixed;
	top: 0;
	left: 0;
}

.listpeople__buscadores {
	background-color: $grey_20;
	padding: 20px;
}

.listpeople__azul {
	color: $brand;
}

.listpeople__tabla {
	padding: 0;
}

.listpeople__tabla__body {
	margin-top: 110px;
}

.listpeople__cabecera {
	background-color: $grey_20;
}

.listpeople__centrado {
	 text-align: center;
	 vertical-align: middle;
}

.listpeople__iconos {
	width: 20px;
}

.listpeople__boton {
	background-color: $brand;
	color: white;
}

@media only screen and (max-width: 767px) {

}