//lista de personas
@import "variables";

.listpeople__buscadores {
  background-color: $grey_20;
  padding: 20px;
}

.listpeople__buscadores2 {
  background-color: $grey_20;
  padding: 15px 10px 5px 10px;
}

.listpeople__azul {
  color: $brand;
}

.listpeople-danger {
  background-color: #fbb0b0;
  &:hover {
    background-color: #F88181 !important;
  }
}

.listpeople-success {
  background-color: #A7D3A7;
  &:hover {
    background-color: #85C185 !important;
  }
}

.listpeople-warning {
  background-color: #F6F8B4;
  &:hover {
    background-color: #F0F486 !important;
  }
}

.listpeople__tabla {
  padding: 0px;
  margin-top: 1rem;
  padding-left: 0px;
}

.listpeople__cabecera {
  background-color: $grey_20;
}

.listpeople__centrado {
  text-align: center;
  vertical-align: middle;
}

.listpeople__iconos {
  width: 20px;
}

.listpeople__boton {
  background-color: $brand;
  color: white;
  width: 40px;
  height: 32px;
}


.listfamilies__azul {
  color: $brand;
}

.listfamilies__tabla {
  padding: 0px;
  margin-top: 1rem;
  padding-left: 0px;
}

.listfamilies__cabecera {
  background-color: $grey_20;
}

.listfamilies__centrado {
   text-align: center;
   vertical-align: middle;
}

.listfamilies__iconos {
  width: 20px;
}

.listfamilies__boton {
  background-color: $brand;
  color: white;
  width: 40px;
  height: 32px;
}
  @media only screen and (max-width: 767px) {

    .listpeople__buscadores {
      margin-top: 50px;
    }

    .listpeople__tabla {
      margin-top: 100px;
  }
}
