//lista de personas
@import "variables";

.listpeople__buscadores {
	background-color: $grey_20;
	padding: 20px;
}

.listpeople__azul {
	color: $brand;
}

.listpeople__tabla {
	padding: 0px;
	margin-top: 82px;
}



.listpeople__cabecera {
	background-color: $grey_20;
}

.listpeople__centrado {
	 text-align: center;
	 vertical-align: middle;
}

.listpeople__iconos {
	width: 20px;
}

.listpeople__boton {
	background-color: $brand;
	color: white;
}

	@media only screen and (max-width: 767px) {
		.listpeople__tabla {
			padding: 0px;
			margin-top: 10px;
			z-index: -100;
		}

		.listpeople__buscadores{
			position: fixed;
			left:0;
			top: 72px;
		}
}