//login
@import "variables.scss";

.fill { 
  min-height: 100%;
    height: 100%;
}
.container_imagen{
  width: 100%;
  height: 1400px;
  background: url(/assets/fondo_login.jpg)no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.botoniniciar{
	background-color: $brand_light;
	border-color: $brand; 
	color: white;
}
.botoniniciar:hover{
	background-color: $brand_dark;
	color: white;
	border-color: $brand; 
}
.field{
	margin-top: 10px;
}

.logologin{
	padding-bottom: 20px;
}
.invalid{
	background-color: red;
}

.col-lg-offset-4.col-lg-4{
	background-color: rgba(255,255,255, 0.7);
}

.center-block {
  display: block;
  margin: 0 auto;
}

.glyphicon.glyphicon-user{
	color: white;
}
.glyphicon.glyphicon-lock{
	color: white;
}
.input-group-addon{
	background-color: $brand_light;
}
.form-signin{
  max-width: 330px;
  margin: 0 auto;
  padding-top: 120px;
}
.imgfooter{
	padding: 10px;
	left: 30px;
}
.correofooter{
	padding: 20px;
	color: $grey_80;
}
.form-signin .checkbox {
  font-weight: normal;
}

.colordefondo{
	background-color: white;
}

@media only screen and (max-width: 1200px) {

}


