.navPersona {
  background-color: $grey_20;
  height: 60px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.lineablanca {
  width: 100%;
  height: 20px;
}

.navPersona__el__text {
  color: white;
  border-radius: 5px;
  margin-left: 16px;
}

.persona__botones__edit {
  position: absolute;
  top: 0;
  right: 30px;
}

.persona__botones__remove {
  position: absolute;
  top: 0;
  right: 100px;
}

.person__list__text__left {
  font-family: istokBold, sans-serif;
}

.person__list__text__right {
  font-family: istokRegular, sans-serif;
}
