$brand: #277FBC;
$brand_light: #36A1DC;
$brand_dark: #1C6C99;
$grey_80: #5B5B5E;

@font-face {
    font-family: istokRegular;
    src: url('font/IstokWeb-Regular.ttf');
}
@font-face {
    font-family: istokBold;
    src: url('font/IstokWeb-Bold.ttf');
}
@font-face {
    font-family: istokItalic;
    src: url('font/IstokWeb-Italic.ttf');
}