@import "base.scss";
@import "variables.scss";
@import "has-error";
@import "message";
@import "layout.scss";
@import "login.scss";
@import "listuser.scss";
@import "listpeople.scss";
@import "person-form.scss";
@import "user-form.scss";
@import "person.scss";
@import "listalerts.scss";
@import "history.scss";
@import "servicios.scss";

@import "arreglos.scss";
