<div class="col-md-12">
  <div class="row__button__create">
    <a id="nuevaAlerta" ui-sref="persona.alertasNueva({id: personCtrl.person.id})" class="btn btn-primary col-md-offset-10 col-md-2 col-sm-offset-9 col-sm-3 col-xs-offset-9 col-xs-3"><span class="glyphicon glyphicon-plus-sign"></span><span class="hidden-xs"> ALERTA<span>
    </a>
  </div>

  <table id="alertsTable" class="table table-hover table-responsive">
    <thead class="listpeople__cabecera">
      <tr>
        <th class="hidden-xs">Creador</th>
        <th class="hidden-xs">Tipo</th>
        <th>Descripción</th>
        <th class="hidden-xs">Causa</th>
        <th>Hasta</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr id="alert_{{alert.id}}" ng-repeat="alert in alertsCtrl.alerts | orderBy:'-pending'" class="{{alertsCtrl.alertClass(alert)}}">
        <td>{{alert.created_by.name}}</td>
        <td class="hidden-xs">{{alertsCtrl.tipo(alert.type)}}</td>
        <td>{{alert.description}}</td>
        <td class="hidden-xs">{{alert.cause}}</td>
        <td>{{alert.pending | date: "dd/MM/yyyy"}}</td>
        <td>
          <a id="alert-show-{{alert.id}}" ui-sref="persona.alerta({id: personCtrl.person.id, alerta_id: alert.id})"><span class="glyphicon glyphicon-eye-open listpeople__azul"></span></a>
        </td>
      </tr>
    </tbody>
  </table>

<div class="alert alert-success leo-message" ng-if="alertsCtrl.alertaCreado">¡Ha creado satisfactoriamente una nueva alerta!
</div>

<div class="alert alert-danger leo-message" ng-if="alertsCtrl.alertaBorrado">¡Borrada satisfactoriamente!
</div>  
