<div class="col-md-7">

  <ul class="list-group">
    <li class="list-group-item person__list__el">
      <strong class="person__list__text__left">Tipo:</strong> <span></span>
    </li>

    <li class="list-group-item person__list__el">
      <strong class="person__list__text__left">Descripción:</strong> <span></span>
    </li>

    <li class="list-group-item person__list__el">
      <strong class="person__list__text__left">Causa:</strong> <span></span>
    </li>  

    <li class="list-group-item person__list__el">
      <strong class="person__list__text__left">Hasta:</strong> <span></span>
    </li>
  </ul>

</div>

<div class="persona__botones col-md-7">
  <a type="button" class="btn btn-danger persona__botones__remove">
    Eliminar
  </a>
  <button type="button" class="btn btn-primary persona__botones__edit">
    <a a ui-sref="persona.alertaEditar({id: personCtrl.person.id})">
      Editar
    </a>
  </button>
</div>