<div class="container col-xs-12 col-sm-12 col-md-12">
  <form class="col-md-12">

    <h1 class="header-titule hidden-xs">Crear Alerta</h1>

    <div class="form-group col-md-7">
      <label>Tipo</label>
      <select type="text" class="form-control" data-placement="top">   
        <option value="">Seleccione Tipo</option>
        <option value="">Castigo</option>
        <option value="">Consejo</option>
        <option value="">Advertencia</option>
      </select>
    </div>

    <div class="form-group col-md-7">
      <label>Descripción</label>
      <textarea class="form-control"></textarea>
    </div>

    <div class="form-group col-md-7">
      <label>Causa</label>
      <textarea class="form-control"></textarea>
    </div>

    <div class="form-group col-md-7" >
      <label>Hasta</label>
      <input type="text" class="form-control datepicker">
    </div>

    <div class="submit-group col-md-7">
      <button class="btn btn-primary" type="submit">Guardar</button>
    </div>

  </form>
</div>
