<table id="alertsTable" class="table table-responsive col-md-12  col-lg-12">
  <thead class="listpeople__cabecera">
    <tr>
      <th>Tipo</th>
      <th>Descripción</th>
      <th>Causa</th>
      <th>Hasta</th>
      <th></th>      
    </tr>
  </thead>

  <tbody >
    <tr id="alert_{{alert.id}}" ng-repeat="alert in alertsCtrl.alerts">
      <td>{{alertsCtrl.tipo(alert.type)}}</td>
      <td>{{alert.description}}</td>
      <td>{{alert.cause}}</td>
      <td>{{alert.pending}}</td>
      <td>
        <a a ui-sref="persona.alerta({id: personCtrl.person.id})"><span class="glyphicon glyphicon-eye-open listpeople__azul"></span></a>
      </td>
    </tr>
  </tbody>
</table>

<a a ui-sref="persona.alertasNueva({id: personCtrl.person.id})" class="btn listalerts__boton col-md-offset-10 col-md-2 col-sm-offset-10 col-sm-2 col-xs-offset-9 col-xs-3">
  Añadir Alerta
</a>
