<div id="alert-show-page"class="col-md-7">

  <ul class="list-group">
    <li class="list-group-item person__list__el">
       <strong class="person__list__text__left">Creador:</strong> <span id="alert_creador">{{ alertCtrl.alert.created_by.name }}</span> 
    </li>
    <li class="list-group-item person__list__el">
      <strong class="person__list__text__left">Tipo:</strong> <span id="alert_type">{{ alertCtrl.tipo(alertCtrl.alert.type) }}</span>
    </li>

    <li class="list-group-item person__list__el">
      <strong class="person__list__text__left">Descripción:</strong> <span id="alert_description">{{ alertCtrl.alert.description }}</span>
    </li>

    <li class="list-group-item person__list__el">
      <strong class="person__list__text__left">Causa:</strong> <span id="alert_cause">{{ alertCtrl.alert.cause }}</span>
    </li>  

    <li class="list-group-item person__list__el">
      <strong class="person__list__text__left">Hasta:</strong> <span id="alert_pending">{{ alertCtrl.alert.pending }}</span>
    </li>
  </ul>

</div>

<div class="persona__botones col-md-7">
  <a id="remove-alert-btn" type="button" class="btn btn-danger persona__botones__remove" ng-click="alertCtrl.destroyAlert(alertCtrl.alert)">
    Eliminar
  </a>
  <a id="edit_alert_button" type="button" class="btn btn-primary persona__botones__edit" ui-sref="persona.alertaEditar({id: personCtrl.person.id, alerta_id: alertCtrl.alert.id })">
    Editar
  </a>
</div>