<div class="container col-xs-12 col-sm-12 col-md-12" id="familyform">
  <form class="col-md-8" ng-submit="familyCtrl.actionForm()">

    <h2>{{ prolibertas }}</h2>

      <div class="form-group col-md-6">
        <label for="InputId_type">Documento Identificador</label>
        <select
          ng-model="familyCtrl.familyForm.id_type"
          type="text"
          class="form-control"
          ng-init="familyCtrl.familyForm.id_type = familyCtrl.id_types[0]"
          ng-options="el for el in familyCtrl.id_types"
          id="InputId_type"
          data-placement="top">
        </select>
      </div>

      <div
        ng-if="familyCtrl.familyForm.id_type"
        class="form-group col-md-6"
        ng-class="{ 'has-error':familyCtrl.errors.identifier }">
        <label for="InputIdentifier">Número de Identificador</label>
        <input
          ng-model="familyCtrl.familyForm.identifier"
          ng-change="familyCtrl.change('Identifier')"
          type="text"
          class="form-control"
          id="InputIdentifier"
          data-placement="top">
      </div>

      <div
        class="form-group col-md-6"
        ng-class="{ 'has-error':familyCtrl.errors.name }">
        <label for="InputName">Nombre</label>
        <input
          ng-model="familyCtrl.familyForm.name"
          ng-change="familyCtrl.change('Name')"
          type="text"
          class="form-control"
          id="InputName"
          data-placement="top">
      </div>

      <div
        class="form-group col-md-6"
        ng-class="{ 'has-error':familyCtrl.errors.surname }">
        <label for="InputSurname">Apellidos</label>
        <input
          ng-model="familyCtrl.familyForm.surname"
          ng-change="familyCtrl.change('Surname')"
          type="text"
          class="form-control"
          id="InputSurname"
          data-placement="top">
      </div>

      <div class="form-group col-md-6">
        <label for="InputMenu">Alergias</label>
        <input
          ng-model="familyCtrl.familyForm.menu"
          type="text"
          class="form-control"
          id="InputMenu">
      </div>

      <div
        class="form-group col-md-3"
        ng-class="{ 'has-error':familyCtrl.errors.adults }">
        <label for="InputAdults">Nº Adultos</label>
        <input
          ng-model="familyCtrl.familyForm.adults"
          ng-change="familyCtrl.change('Adults')"
          type="number"
          min="0"
          class="form-control"
          id="InputAdults">
      </div>

      <div
        class="form-group col-md-3"
        ng-class="{ 'has-error':familyCtrl.errors.children }">
        <label for="InputChildren">Nº Menores</label>
        <input
          ng-model="familyCtrl.familyForm.children"
          ng-change="familyCtrl.change('Children')"
          type="number"
          min="0"
          class="form-control"
          id="InputChildren">
      </div>
      <div class="form-group col-md-6" >
        <label for="InputBirthchildren"> Edad Menores</label>
        <input
          ng-model="familyCtrl.familyForm.birthchildren"
          class="form-control"
          id="InputBirthchildren"
          placeholder="1,2,3">
      </div>

      <div
        class="form-group col-md-6"
        ng-class="{ 'has-error':familyCtrl.errors.origin }">
        <label for="InputOrigin">País</label>
        <select
          ng-model="familyCtrl.familyForm.origin"
          ng-change="familyCtrl.change('Origin')"
          type="text"
          class="form-control"
          id="InputOrigin"
          data-placement="top">
        <option ng-repeat="country in familyCtrl.countries">{{country}}</option>
        </select>
      </div>

      <div
        class="form-group col-md-6"
        ng-class="{ 'has-error':familyCtrl.errors.city }"
        ng-if="familyCtrl.familyForm.origin === 'España'">
        <label for="InputCity">Provincia (España)</label>
        <select
          ng-model="familyCtrl.familyForm.city"
          ng-change="familyCtrl.change('City')"
          type="text"
          class="form-control"
          id="InputCity"
          data-placement="top">
          <option value='Álava'>Álava</option>
          <option value='Albacete'>Albacete</option>
          <option value='Alicante'>Alicante</option>
          <option value='Almería'>Almería</option>
          <option value='Asturias'>Asturias</option>
          <option value='Ávila'>Ávila</option>
          <option value='Badajoz'>Badajoz</option>
          <option value='Baleares'>Baleares</option>
          <option value='Barcelona'>Barcelona</option>
          <option value='Burgos'>Burgos</option>
          <option value='Cáceres'>Cáceres</option>
          <option value='Cadiz'>Cadiz</option>
          <option value='Cantabria'>Cantabria</option>
          <option value='Castellon'>Castellon</option>
          <option value='Ceuta'>Ceuta</option>
          <option value='Ciudad Real'>Ciudad Real</option>
          <option value='Córdoba'>Córdoba</option>
          <option value='Cuenca'>Cuenca</option>
          <option value='Girona'>Girona</option>
          <option value='Granada'>Granada</option>
          <option value='Guadalajara'>Guadalajara</option>
          <option value='Guipuzcoa'>Guipuzcoa</option>
          <option value='Huelva'>Huelva</option>
          <option value='Huesca'>Huesca</option>
          <option value='Jaén'>Jaén</option>
          <option value='La Coruña'>La Coruña</option>
          <option value='La Rioja'>La Rioja</option>
          <option value='Las Palmas'>Las Palmas</option>
          <option value='León'>León</option>
          <option value='Lérida'>Lérida</option>
          <option value='Lugo'>Lugo</option>
          <option value='Madrid'>Madrid</option>
          <option value='Málaga'>Málaga</option>
          <option value='Melilla'>Melilla</option>
          <option value='Murcia'>Murcia</option>
          <option value='Navarra'>Navarra</option>
          <option value='Orense'>Orense</option>
          <option value='Palencia'>Palencia</option>
          <option value='Pontevedra'>Pontevedra</option>
          <option value='Sahara'>Sahara</option>
          <option value='Salamanca'>Salamanca</option>
          <option value='Segovia'>Segovia</option>
          <option value='Sevilla'>Sevilla</option>
          <option value='Soria'>Soria</option>
          <option value='Tarragona'>Tarragona</option>
          <option value='Tenerife'>Tenerife</option>
          <option value='Teruel'>Teruel</option>
          <option value='Toledo'>Toledo</option>
          <option value='Valencia'>Valencia</option>
          <option value='Valladolid'>Valladolid</option>
          <option value='Vizcaya'>Vizcaya</option>
          <option value='Zamora'>Zamora</option>
          <option value='Zaragoza'>Zaragoza</option>
        </select>
      </div>

      <div
        class="form-group col-md-6"
        ng-class="{ 'has-error':familyCtrl.errors.nationality }">
        <label for="InputNationality">Nacionalidad</label>
        <select
          ng-model="familyCtrl.familyForm.nationality"
          type="text" class="form-control"
          id="InputNationality"
          data-placement="top">
        <option ng-repeat="country in familyCtrl.countries">{{country}}</option>
        </select>
      </div>

      <div class="form-group col-md-6"
        ng-class="{ 'has-error':familyCtrl.errors.zts }">
        <label for="InputZts">Zona de Trabajo Social</label>
        <select
          ng-model="familyCtrl.familyForm.zts"
          type="text"
          class="form-control"
          id="InputZts"
          data-placement="top">
        <option ng-repeat="zts in familyCtrl.zonas">{{zts}}</option>
        </select>
      </div>

      <div class="form-group col-md-6">
        <label for="InputSocialworker">Trabajador Social</label>
        <input
          ng-model="familyCtrl.familyForm.socialworker"
          type="text"
          class="form-control"
          id="InputSocialworker">
      </div>

      <div class="form-group col-md-6">
        <label for="InputSocialworker">Teléfono del Trabajador Social</label>
        <input
          ng-model="familyCtrl.familyForm.social_tlf"
          type="text"
          class="form-control"
          id="InputSocial_tlf">
      </div>

      <!--
      <div class="form-group col-md-6">
        <label for="InputAddressType">Tipo de Vivienda</label>
        <select ng-model="familyCtrl.familyForm.address_type" type="number" class="form-control" id="InputAddressType" data-placement="top">
          <option value='0'>0 - Sin vivienda</option>
          <option value='1'>1 - Vivienda</option>
          <option value='2'>2 - Infravivienda</option>
        </select>
      </div>
      -->

      <div
        class="form-group col-md-6"
        ng-class="{ 'has-error':familyCtrl.errors.assistance }">
        <label for="InputAssistance">Asistencia</label>
        <select
          ng-model="familyCtrl.familyForm.assistance"
          ng-change="familyCtrl.change('Assistance')"
          type="number"
          class="form-control"
          id="InputAssistance"
          data-placement="top">
          <option value='0'>0 - Primera vez</option>
          <option value='1'>1 - Habitual</option>
          <option value='2'>2 - Reincidente</option>
        </select>
      </div>

      <div class="form-group col-md-3">
        <label for="InputTypeOfIncome">Tiene Ingresos</label>
        <select
          ng-model="familyCtrl.familyForm.type_of_income"
          type="number"
          class="form-control"
          id="InputTypeOfIncome"
          data-placement="top">
          <option value='0'>0 - No</option>
          <option value='1'>1 - Si</option>
        </select>
      </div>

      <div class="form-group col-md-3">
        <label for="InputAmountOfIncome">Ingresos</label>
        <input
          ng-model="familyCtrl.familyForm.amount_of_income"
          type="text"
          class="form-control"
          id="InputAmountOfIncome">
      </div>

      <div class="form-group col-md-6">
        <label for="InputAddress">Dirección</label>
        <input
          ng-model="familyCtrl.familyForm.address"
          type="text"
          class="form-control"
          id="InputAddress">
      </div>

      <div class="form-group col-md-6">
        <label for="InputPhone">Teléfono</label>
        <input
          ng-model="familyCtrl.familyForm.phone"
          type="text"
          class="form-control"
          id="InputPhone">
      </div>

      <div
        class="form-group col-md-12"
        ng-class="{ 'has-error':familyCtrl.errors.muslim }">
        <label for="InputMuslim">Musulmán</label>
        <input
        ng-model="familyCtrl.familyForm.muslim"
        type="checkbox"
        id="InputMuslim">
      </div>

      <div class="form-group col-md-6">
        <label for="InputRopero_date">Fecha cita ropero</label>
        <div class="input-group datepicker">
          <span
            class="input-group-addon listpeople__azul">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
          <input
            type="text"
            class="form-control"
            ng-model="familyCtrl.familyForm.ropero_date"
            placeholder="Fecha cita ropero"
            id="InputRopero_date">
        </div>
      </div>

      <div class="form-group col-md-6">
        <label for="InputRopero_time">Hora cita ropero</label>
        <div class="input-group datetimepicker">
          <span
            class="input-group-addon listpeople__azul">
            <span class="glyphicon glyphicon-time"></span>
          </span>
          <input
            type="text"
            class="form-control"
            ng-model="familyCtrl.familyForm.ropero_time"
            placeholder="Hora cita ropero"
            id="InputRopero_time">
        </div>
      </div>

      <div
        class="form-group col-md-6"
        ng-class="{ 'has-error':familyCtrl.errors.from }">
        <label for="InputFrom">Fecha de entrada</label>
        <div class="input-group datepicker">
          <span class="input-group-addon listpeople__azul">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
          <input
            ng-model="familyCtrl.familyForm.from"
            ng-change="familyCtrl.change('From')"
            type="text"
            class="form-control"
            id="InputFrom">
        </div>
      </div>

      <div
        class="form-group col-md-6"
        ng-class="{ 'has-error':familyCtrl.errors.to }">
        <label for="InputTo">Fecha de salida</label>
        <div class="input-group datepicker">
          <span class="input-group-addon listpeople__azul">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
          <input
            ng-model="familyCtrl.familyForm.to"
            ng-change="familyCtrl.change('To')"
            type="text"
            class="form-control"
            id="InputTo">
        </div>
      </div>

    <div class="col-md-12">
      <div class="submit-group col-md-4 col-md-offset-8">
        <button
          class="btn btn-danger"
          style="width:47%;"
          ui-sref="personas">
          Cancelar
        </button>

        <button
          class="btn btn-primary pull-right"
          style="width:47%;"
          type="submit"
          id="InputSubmit">
          Guardar
        </button>
      </div>
    </div>
  </form>
</div>
