    <table class="table table-responsive col-md-12 col-lg-12" id="usersTable">
      <thead class="listpeople__cabecera">
        <tr>
          <th class="listpeople__centrado">Fecha</th>
          <th class="listpeople__centrado">Autores</th>
          <th class="listpeople__centrado">Servicios</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="service in familyCtrl.services">
          <td class="listpeople__centrado">{{ service.date }}</td>
          <td class="listpeople__centrado">{{ service.autors }}</td>
          <td class="listpeople__centrado">{{ service.services }}</td>
        </tr>
        </tr>
      </tbody>
    </table>
