<div id="family-show-page">

  <h2>Ficha de {{ familyCtrl.family.name }} {{ familyCtrl.family.surname }}</h2>

  <div class="row fondo_menu_persona">
    <div class="col-md-12 col-xs-12 ">
      <ul class="nav nav-tabs">
        <li><a ui-sref="familia({id: familyCtrl.family.id})"data-toggle="tab">Familia</a></li>
        <li><a id="person_report" ui-sref="familia.informe" data-toggle="tab" ui-sref="familia.informe({id: familyCtrl.family.id})">Informe</a></li>
        <li><a class="navPersona__el"   ng-click="printDocument()" id="printIndividualReport"><span class="glyphicon glyphicon-print"></span><span class="listpeople__txt__button"> Imprimir</a></li>
      </ul>
    </div>
  </div>
  <div class="lineablanca"></div>

  <div class="row col-md-12" ui-view="menufamilia">

    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item person__list__el">
          <strong class="person__list__text__left">Nombre:</strong> <span id="family_name">{{ familyCtrl.family.name }}</span>
        </li>

        <li class="list-group-item person__list__el">
          <strong class="person__list__text__left">Apellidos:</strong> <span id="family_surname">{{ familyCtrl.family.surname }}</span>
        </li>

        <li class="list-group-item person__list__el">
          <strong class="person__list__text__left">Origen:</strong> <span id="family_origin">{{ familyCtrl.family.origin }}</span>
        </li>

        <li class="list-group-item person__list__el">
          <strong class="person__list__text__left">Alergias:</strong> <span id="family_menu">{{ familyCtrl.family.menu }}</span>
        </li>

        <li class="list-group-item person__list__el">
          <strong class="person__list__text__left">Teléfono:</strong> <span id="family_phone">{{ familyCtrl.family.phone }}</span>

        </li>
        <li class="list-group-item person__list__el">
          <strong class="person__list__text__left">Nº Adultos:</strong> <span id="family_adults">{{ familyCtrl.family.adults }}</span>

        </li>
        <li class="list-group-item person__list__el">
          <strong class="person__list__text__left">Nº Menores:</strong> <span id="family_children">{{ familyCtrl.family.children }}</span>
        </li>
         <li class="list-group-item person__list__el">
          <strong class="person__list__text__left">Edad Menores:</strong> <span id="family_children">{{ familyCtrl.family.birthchildren }}</span>
        </li>

        <li class="list-group-item person__list__el">
          <strong class="person__list__text__left">Fecha Cita Ropero:</strong> <span id="family_from">{{ familyCtrl.family.ropero_date | date: "dd/MM/yyyy" }}</span>
        </li>

        <li class="list-group-item person__list__el">
          <strong class="person__list__text__left">Fecha de Entrada:</strong> <span id="family_from">{{ familyCtrl.family.from | date: "dd/MM/yyyy" }}</span>
        </li>
      </ul>
    </div>


    <div class="col-md-6">
      <ul class="list-group">

        <li class="list-group-item person__list__el" ng-if="familyCtrl.family.id_type && familyCtrl.family.identifier">
          <strong class="person__list__text__left">{{familyCtrl.id_type}}:</strong> <span id="family_identifier">{{ familyCtrl.family.identifier }}</span>
        </li>

        <li class="list-group-item person__list__el">
          <strong class="person__list__text__left">Zona de trabajo social:</strong> <span id="person_zts">{{ familyCtrl.family.zts }}</span>
        </li>

        <li class="list-group-item person__list__el">
          <strong class="person__list__text__left">Trabajador Social:</strong> <span id="family_socialworker">{{ familyCtrl.family.socialworker }}</span>
        </li>

        <li class="list-group-item person__list__el">
          <strong class="person__list__text__left">Teléfono del Trabajador Social:</strong> <span id="family_social_tlf">{{ familyCtrl.family.social_tlf }}</span>
        </li>

        <li class="list-group-item person__list__el">
          <strong class="person__list__text__left">Ingresos:</strong> <span id="family_type_of_income">{{ familyCtrl.si_o_no(familyCtrl.family.type_of_income) }}</span>
        </li>

        <li class="list-group-item person__list__el">
          <strong class="person__list__text__left">Cantidad de Ingresos:</strong> <span id="family_amount_of_income">{{ familyCtrl.family.amount_of_income }}</span>
        </li>

        <!--
        <li class="list-group-item person__list__el">
          <strong class="person__list__text__left">Tipo de Vivienda:</strong> <span id="family_address_type">{{ familyCtrl.vivienda(familyCtrl.family.address_type) }}</span>
        </li>
        -->

        <li class="list-group-item person__list__el">
          <strong class="person__list__text__left">Dirección:</strong> <span id="family_address">{{ familyCtrl.family.address }}</span>
        </li>

        <li class="list-group-item person__list__el">
          <strong  class="person__list__text__left">Asistencia:</strong> <span id="family_assistance">{{ familyCtrl.asistencia(familyCtrl.family.assistance) }}</span>
        </li>

        <li class="list-group-item person__list__el">
          <strong class="person__list__text__left">Alta por:</strong> <span id="family_nif">{{ familyCtrl.family.created_by.name }}</span>
        </li>

        <li class="list-group-item person__list__el">
          <strong class="person__list__text__left">Hora Cita Ropero:</strong> <span id="family_nif">{{ familyCtrl.family.ropero_time }}</span>
        </li>

        <li class="list-group-item person__list__el">
          <strong class="person__list__text__left">Fecha de Salida:</strong> <span id="family_to">{{ familyCtrl.family.to | date: "dd/MM/yyyy" }}</span>
        </li>

        <li class="list-group-item person__list__el" ng-if="familyCtrl.family.muslim">
          <strong class="person__list__text__left">Musulmán:</strong> <span>Sí</span>
        </li>
      </ul>
    </div>

     <div ng-if="currentUser.role !== 'volunteer'" class="persona__botones col-md-12">
        <a id="remove-family-btn" type="button" class="btn btn-danger persona__botones__remove"
        ng-click="familyCtrl.destroyFamily(familyCtrl.family)">Eliminar
        </a>
        <button id="family-edit-{{familyCtrl.family.id}}" ui-sref="familiaEditar({id:familyCtrl.family.id})" type="button" class="btn btn-primary persona__botones__edit">Editar</button>
     </div>
  </div>

</div>
