<div class="container col-xs-12 col-sm-12 col-md-12">
  <h3>{{prolibertas}}</h3>
  <form ng-submit="historyFormCtrl.actionForm()" id="historyform">
    <div class="form-group" ng-class="{'has-error':historyFormCtrl.errors.description}">
      <textarea class="form-control" rows="10" ng-change="historyFormCtrl.change('Description')" ng-model="historyFormCtrl.historyForm.description" id="InputDescription" placeholder="Biografía" rows="3"></textarea>
    </div>
    <div class="form-group">
      <textarea class="form-control" ng-model="historyFormCtrl.historyForm.liabilities" id="InputLiabilities" placeholder="Compromisos" rows="10"></textarea>
    </div>
    <div class="row nuevacita">
      <div class="col-md-3 col-xs-6">
        <div class="input-group datepicker" ng-class="{'has-error':historyFormCtrl.errors.date}">
          <span class="input-group-addon listpeople__azul"><span class="glyphicon glyphicon-calendar"></span></span>
          <input type="text" class="form-control" ng-change="historyFormCtrl.change('Date')" ng-model="historyFormCtrl.historyForm.date" placeholder="Fecha de entrevista" id="InputDate">
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="input-group datetimepicker" ng-class="{'has-error':historyFormCtrl.errors.time}">
          <span class="input-group-addon listpeople__azul "><span class="glyphicon glyphicon-time"></span></span>
          <input type="text" class="form-control" ng-change="historyFormCtrl.change('Time')" ng-model="historyFormCtrl.historyForm.time" placeholder="Hora" id="InputTime">
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="input-group datepicker">
          <span class="input-group-addon listpeople__azul"><span class="glyphicon glyphicon-calendar"></span></span>
          <input type="text" class="form-control" ng-model="historyFormCtrl.historyForm.newdate" placeholder="Fecha nueva cita" id="InputDatenew">
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="input-group datetimepicker">
          <span class="input-group-addon listpeople__azul "><span class="glyphicon glyphicon-time"></span></span>
          <input type="text" class="form-control" ng-model="historyFormCtrl.historyForm.newtime" placeholder="Hora nueva cita" id="InputTimenew">
        </div>
      </div>
    </div>
        <div class="submit-group col-md-offset-8 col-md-4">
         <button class="btn btn-danger" ui-sref="persona.historias">Cancelar</button>
         <button class="btn btn-primary historia_btn_guardar" type="submit" id="InputSubmit">Guardar historia</button>
       </div>
  </form>
</div>
