<div class="container col-xs-12 col-sm-12 col-md-12">
  <h3>Historia nueva</h3>
  <form ng-submit="historyFormCtrl.guardarHistoria">
    <div class="form-group">
      <textarea class="form-control" id="InputDescriptionHistory" placeholder="Descripción de la nueva historia" rows="3"></textarea>
    </div>
    <div class="form-group">
      <textarea class="form-control" id="InputLiabilities" placeholder="Compromisos" rows="3"></textarea>
    </div>
    <div class="row nuevacita">
          <div class="col-md-2 col-xs-6">
      <div class="input-group">
        <span class="input-group-addon listpeople__azul"><span class="glyphicon glyphicon-calendar"></span></span>
          <input type="text" class="form-control" placeholder="Fecha" id="InputDateHistory">
      </div>
    </div>
    <div class="col-md-2 col-xs-6">
      <div class="input-group">
        <span class="input-group-addon listpeople__azul "><span class="glyphicon glyphicon-time"></span></span>
          <input type="text" class="form-control" placeholder="Hora" id="InputTime">
      </div>
    </div>
      <div class="col-md-2 col-xs-6">
        <div class="input-group">
          <span class="input-group-addon listpeople__azul"><span class="glyphicon glyphicon-calendar"></span></span>
          <input type="text" class="form-control" placeholder="Fecha nueva cita" id="InputDatenew">
        </div>
      </div>
      <div class="col-md-2 col-xs-6">
        <div class="input-group">
          <span class="input-group-addon listpeople__azul "><span class="glyphicon glyphicon-time"></span></span>
          <input type="text" class="form-control" placeholder="Hora nueva cita" id="InputTimenew">
        </div>
      </div>
      <div class="input-group col-md-4">
      <label for="exampleInputFile">Adjuntar archivo</label>
      <input class="archivoadjunto" type="file" id="exampleInputFile">
    </div>
    </div>
        <div class="submit-group col-md-12">
         <button class="btn btn-primary historia_btn_guardar" type="submit" id="InputSubmit">Guardar historia</button>
       </div>
  </form>
</div>