<div class="col-md-12">
  <table class="table col-md-12 col-lg-12" id="listadohistoria">
    <thead class="listpeople__cabecera">
      <tr>
        <th>Creador</th>
        <th>Descripción</th>
        <th>Compromisos</th>
        <th>Fecha</th>
        <th>Hora</th>
        <th></th>
      </tr>
    </thead>
    <tbody >
      <tr>
        <td>Isabel Gónzalez</td>
        <td>Aquí van la descripción de la historia Aquín la descripción de la historian la descripción de la historia</td>
        <td>Aquí van los comAquí van la descripción de la historiapromisos </td>
        <td>03/09/2014</td> 
        <td>12:45</td> 
        <td class="listpeople__centrado"><a ui-sref="persona.historia">
            <span class="glyphicon glyphicon-eye-open listpeople__azul"></span></a>
        </td>  
      </tr>
    </tbody>
 </table>
 <a class="btn btn-primary col-md-offset-10 col-md-2 col-sm-offset-10 col-sm-2 col-xs-offset-9 col-xs-3" ui-sref="persona.historiaNueva">Añadir Historia</a>
</div>
