<div class="col-md-12" id="history-show-page">
  <ul class="list-group">
    <li class="list-group-item person__list__el">
       <strong class="person__list__text__left">Creador:</strong> <span id="creador"></span> 
    </li>
    <li class="list-group-item person__list__el">
       <strong class="person__list__text__left">Descripcion de la historia:</strong> <span id="descripcionhistoria">{{ historyCtrl.history.description }}</span> 
    </li>
    <li class="list-group-item person__list__el">
       <strong class="person__list__text__left">Compromisos:</strong> <span id="compromisos">{{ historyCtrl.history.liabilities }}</span> 
    </li>
     <li class="list-group-item person__list__el">
       <strong class="person__list__text__left">Fecha:</strong> <span id="fechahistoria">{{ historyCtrl.history.date }}</span> 
    </li>
    <li class="list-group-item person__list__el">
       <strong class="person__list__text__left">Hora:</strong> <span id="horahistoria">{{ historyCtrl.history.time }}</span> 
    </li>
    <li class="list-group-item person__list__el">
       <strong class="person__list__text__left">Fecha proxima cita:</strong> <span id="horanewhistoria">{{ historyCtrl.history.newdate }}</span> 
    </li>
    <li class="list-group-item person__list__el">
       <strong class="person__list__text__left">Hora proxima cita:</strong> <span id="horanewhistoria">{{ historyCtrl.history.newtime }}</span> 
    </li>
      <div class="col-md-12 btn_view_history">
        <a id="remove-history-btn" type="button" class="btn btn-danger historia__btn__remove"
        ng-click="historyCtrl.destroyHistory(historyCtrl.history)">Eliminar</a>
        <button type="button" class="btn btn-primary historia__btn__edit" ui-sref="persona.historiaEditar({historia_id: historyCtrl.history.id})">Editar</button>
     </div>
  </ul>
</div>
