<h2>
  Informes
</h2>
  <nav class="navbar col-md-12 col-sm-12 col-lg-12 col-xs-12">
    <div class="row" >
      <div class="col-md-12 listpeople__buscadores">
        <form class="form-inline">

          <div class="form-group col-md-4">
           <select class="form-control"
             id="reportOption"
             ng-model="reportCtrl.reportOption">
             <option value="" selected>Seleccione el tipo de informe</option>
             <option value="0">Españoles/Extranjeros/Familias por tipo</option>
             <option value="1">Personas por rango de edades</option>
             <option value="2">Españoles por procedencia</option>
             <option value="3">Extranjeros por procedencia</option>
             <option value="4">Servicios a personas por meses</option>
             <option value="5">Servicios a familias por meses</option>
             <!--
             <option value="6">Inventario de artículos</option>
             <option value="7">Familias por centro de procedencia</option>
             -->
           </select>
         </div>

          <div class="form-group col-md-2">
            <div class="input-group datepicker" >
            <input
              type="text"
              class="form-control"
              ng-init="reportCtrl.year=reportCtrl.this_year"
              ng-model="reportCtrl.year"
              id="SelectedYear">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-calendar listpeople__azul"></i>
              </span>
            </div>
          </div>

          <div class="form-group" ng-if="reportCtrl.reportOption">
            <a
              class="btn btn-primary"
              ng-click="reportCtrl.getUrl()">
              <span class="glyphicon glyphicon-stats"></span>
              <span class="listpeople__txt__button"> Generar Informe</span>
            </a>
          </div>

          <div class="form-group" ng-if="reportCtrl.reportOption">
            <a
              class="btn btn-primary"
              ng-click="printDocument()"
              id="printFamily">
              <span class="glyphicon glyphicon-print"></span>
              <span class="listpeople__txt__button"> Imprimir</span>
            </a>
          </div>
          <span class="niapa">.</span>
        </form>
      </div>
    </div>
  </nav>

  <div class="">
    <div class="alert alert-info pull-left" role="alert">
      Seleccione el tipo de informe y año que desea consultar y pulse <strong>Generar informe</strong> para generar la gráfica
    </div>
  </div>

      <!--
    <div class="row">
      <div id="report" class="col-md-12"></div>
      <script type="text/javascript" src="assets/report.js"></script>
      <script>
        var today = new Date();
        $("#SelectedYear").val(today.getFullYear());
        $('.datepicker').datetimepicker({
          locale: 'es',
          format: 'YYYY',
        });
      </script>
    </div>
      -->
