<div id="person-show-page">

  <h2>Ficha de {{ personCtrl.person.name }} {{ personCtrl.person.surname }}</h2>

  <ul class="navPersona">
    <li type="button" class="navPersona__el col-md-2">
      <a href="#"><span class="navPersona__el__text">Servicios</span></a>
    </li>
  
    <li type="button" class="navPersona__el col-md-2">
      <a href="#"><span class="navPersona__el__text">Historias</span></a>
    </li>

    <li type="button" class="navPersona__el col-md-2">
      <a href="#"><span class="navPersona__el__text">Adjuntos</span></a>
    </li>

    <li type="button" class="navPersona__el col-md-2">
      <a href="#"><span class="navPersona__el__text">Alertas</span></a>
    </li>
  </ul>    

  <div class="row col-md-12">
    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item person__list__el">
          <strong class="person__list__text__left">Nombre:</strong> {{ personCtrl.person.name }}
        </li>

        <li class="list-group-item person__list__el">
          <strong class="person__list__text__left">Apellidos:</strong> {{ personCtrl.person.surname }}
        </li>

        <li class="list-group-item person__list__el">
          <strong class="person__list__text__left">Sexo:</strong> {{ personCtrl.person.genre }}
        </li>

        <li class="list-group-item person__list__el">
          <strong class="person__list__text__left">Teléfono:</strong> {{ personCtrl.person.phone }}
        </li>

        <li class="list-group-item person__list__el">
          <strong class="person__list__text__left">Asistencia:</strong> {{ personCtrl.person.assistance }}
        </li>

        <li class="list-group-item person__list__el">
          <strong class="person__list__text__left">Tipo de vivienda:</strong> {{ personCtrl.person.home }}

        </li>
        <li class="list-group-item person__list__el">
          <strong class="person__list__text__left">Situación familiar:</strong> {{ personCtrl.person.family_status }}

        </li>
        <li class="list-group-item person__list__el">
          <strong class="person__list__text__left">Situación sanitaria:</strong> {{ personCtrl.person.health_status }}

        </li>      
        <li class="list-group-item person__list__el">
          <strong class="person__list__text__left">Notas:</strong> {{ personCtrl.person.notes }}
        </li>
      </ul>
    </div>


    <div class="col-md-6">
      <ul class="list-group">

        <li class="list-group-item person__list__el">
          <strong class="person__list__text__left">Edad:</strong> {{ personCtrl.person.birth }}
        </li>

        <li class="list-group-item person__list__el">
          <strong class="person__list__text__left">DNI:</strong> {{ personCtrl.person.nif }}
        </li>

        <li class="list-group-item person__list__el">
          <strong class="person__list__text__left">Servicios sociales</strong> {{ personCtrl.person.social_services }}
        </li>

        <li class="list-group-item person__list__el">
          <strong class="person__list__text__left">Vivienda:</strong> {{ personCtrl.person.home }}
        </li>

        <li class="list-group-item person__list__el">
          <strong  class="person__list__text__left">Ingresos:</strong> {{ personCtrl.person.income }}
        </li>

        <li class="list-group-item person__list__el">
          <strong class="person__list__text__left">Dirección:</strong> {{ personCtrl.person.address }}
        </li>

        <li class="list-group-item person__list__el">
          <strong class="person__list__text__left">Familiar de contacto:</strong> {{ personCtrl.person.contact_family }}
        </li>
      </ul>
    </div>
  </div>

  <div class="persona__botones col-md-6">
    <a  type="button" class="btn btn-danger persona__botones__remove"
        ng-click="personCtrl.destroyPerson(personCtrl.person)">Eliminar
    </a>
    <button type="button" class="btn btn-primary persona__botones__edit">Editar</button>
  </div>

</div>