<div class="container">

  <h2>Listado de personas</h2>

  <div class="raw">
    <div class="col-md-offset-0 col-md-12 buscadores">
      <form class="form-inline">
        <div class="form-group">
          <label class="sr-only"></label>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Buscar por apellidos...">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-search iconos_azules"></i>
            </span>
          </div>
        </div>
        <div class="form-group col-md-offset-1">
          <label class="sr-only"></label>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Buscar por origen...">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-globe iconos_azules"></i>
            </span>
          </div>
        </div>
        <button type="button" class="btn btn-primary col-md-offset-4">Añadir Persona</button>
      </form>
    </div>
  </div>

  <div class="raw">
    <div class="col-md-offset-0 col-md-12 tabla">
      <table class="table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Origen</th>
            <th class="centrado">S</th>  
            <th class="centrado">Menú</th>
            <th class="centrado"><img src="/assets/cutlery23.svg"></th>
            <th class="centrado"><img src="/assets/tshirt18.svg"></th>
            <th class="centrado"><img src="/assets/shower17.svg"></th>
            <th class="centrado">MÁS</th>
            <th class="centrado"></th>
            <th class="centrado"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Javier</td>
            <td>Montero Acosta</td>
            <td>España</td>
            <td class="centrado">H</td>
            <td class="centrado">E</td>
            <td class="centrado"><input type="checkbox" align="middle"></td>
            <td class="centrado"><input type="checkbox"></td>
            <td class="centrado"><input type="checkbox"></td>
            <td class="centrado"><i class="glyphicon glyphicon-plus-sign iconos_azules"></td>
            <td class="centrado"><i class="glyphicon glyphicon-eye-open iconos_azules"></td>
            <td class="centrado"><i class="glyphicon glyphicon-list iconos_azules"></td>
          </tr>
        </tbody>
      </table>
  </div>

</div>