<div class="container col-xs-12 col-sm-12 col-md-12" id="personform">
  <form class="col-md-12" ng-submit="personCtrl.actionForm()">

    <h1 class="header-titule hidden-xs">{{prolibertas}}</h1>

    
    <div class="col-md-12">
      <div class="form-group col-md-4" ng-class="{ 'has-error':personCtrl.errors.name }">
        <label for="InputName">Nombre</label>
        <input ng-model="personCtrl.personForm.name" ng-change="personCtrl.change('Name')" type="text" class="form-control" id="InputName" data-placement="top">

      </div>
      <div class="form-group col-md-4 col-md-offset-3" >                                                                   
        <label for="InputBirth">Fecha de nacimiento</label>                                                                
        <div class="input-group datepicker">                                                                               
          <span class="input-group-addon listpeople__azul">                                                                
            <span class="glyphicon glyphicon-calendar"></span>                                                             
          </span>                                                                                                          
          <input ng-model="personCtrl.personForm.birth" type="text" class="form-control" id="InputBirth">                  
        </div>                                                                                                             
      </div>
    </div>
    <div class="col-md-12 ">
      <div class="form-group col-md-6" ng-class="{ 'has-error':personCtrl.errors.surname }">
        <label for="InputSurname">Apellidos</label>
        <input ng-model="personCtrl.personForm.surname" ng-change="personCtrl.change('Surname')" type="text" class="form-control" id="InputSurname" data-placement="top" >
      </div>
      <div class="form-group col-md-4 col-md-offset-1">
        <label for="InputNif">NIF</label>
        <input ng-model="personCtrl.personForm.nif" type="text" class="form-control" id="InputNif">
      </div>
    </div>
    <div class="col-md-12 ">
      <div class="form-group col-md-4" ng-class="{ 'has-error':personCtrl.errors.genre }">
        <label for="InputGenre">Género</label>
        <select ng-model="personCtrl.personForm.genre" ng-change="personCtrl.change('Genre')" type="text" class="form-control" id="InputGenre" data-placement="top">   
          <option value="">Seleccione género</option>
          <option value="man">Hombre</option>
          <option value="woman">Mujer</option>
        </select>
      </div>
      <div class="form-group col-md-5 col-md-offset-3 ">
        <label for="InputSocialServices">Servicios Sociales</label>
        <input ng-model="personCtrl.personForm.social_services" type="text" class="form-control" id="InputSocialServices">
      </div>
    </div>
    <div class="col-md-12 ">
      <div class="form-group col-md-3">
        <label for="InputPhone">Teléfono</label>
        <input ng-model="personCtrl.personForm.phone" type="text" class="form-control" id="InputPhone">
      </div>
      <div class="form-group col-md-3">
        <label for="InputOrigin">Origen</label>
        <input ng-model="personCtrl.personForm.origin" type="text" class="form-control" id="InputOrigin">
      </div> 
      <div class="form-group col-md-4 col-md-offset-1">
        <label for="InputMenu">Tipo de Menú</label>
        <input ng-model="personCtrl.personForm.menu" type="text" class="form-control" id="InputMenu">
      </div>
    </div>
    <div class="col-md-12 ">
      <div class="form-group col-md-6">
        <label for="InputAssistance">Asistencia</label>
        <input ng-model="personCtrl.personForm.assistance" type="text" class="form-control" id="InputAssistance">
      </div>
      <div class="form-group col-md-5 col-md-offset-1 ">
        <label for="InputIncome">Ingresos</label>
        <input ng-model="personCtrl.personForm.income" type="text" class="form-control" id="InputIncome">
      </div>
    </div>
    <div class="col-md-12 ">
      <div class="form-group col-md-6">
        <label for="InputHome">Tipo de Vivienda</label>
        <input ng-model="personCtrl.personForm.home" type="text" class="form-control" id="InputHome">
      </div>
      <div class="form-group col-md-5 col-md-offset-1">
        <label for="InputAddress">Dirección</label>
        <input ng-model="personCtrl.personForm.address" type="text" class="form-control" id="InputAddress">
      </div>
    </div>
    <div class="col-md-12 ">
      <div class="form-group col-md-6">
        <label for="InputFamilyStatus">Situación Familiar</label>
        <textarea ng-model="personCtrl.personForm.family_status" class="form-control" rows="2" id="InputFamilyStatus"></textarea>
      </div>
      <div class="form-group col-md-5 col-md-offset-1">
        <label for="InputContactFamily">Familiar de contacto</label>
        <textarea ng-model="personCtrl.personForm.contact_family" class="form-control" rows="2" id="InputContactFamily"></textarea>
      </div>
    </div>
    <div class="col-md-12 ">
      <div class="form-group col-md-6">
        <label for="InputHealthStatus">Situación Sanitaria</label>
        <textarea ng-model="personCtrl.personForm.health_status" class="form-control" rows="2" id="InputHealthStatus"></textarea>
      </div>
      <div class="form-group col-md-5 col-md-offset-1">
        <label for="InputNotes">Notas</label>
        <textarea ng-model="personCtrl.personForm.notes" class="form-control" rows="2" id="InputNotes"></textarea>
      </div>
    </div>
    <div class="col-md-12">
      <div class="submit-group col-md-4 col-md-offset-7">
        <button class="btn btn-primary" type="submit" id="InputSubmit">Guardar</button>
      </div>
    </div>
  </form>
</div>

