<div id="person-show-page">
  <div class="panel row">
    <div class="col-md-6">
      <ul class="list-group">

        <li class="list-group-item">
          <strong>Nombre:</strong> {{ personCtrl.person.name }}
        </li>

        <li class="list-group-item">
          <strong>Apellidos:</strong> {{ personCtrl.person.surname }}
        </li>

        <li class="list-group-item">
          <strong>Sexo</strong> {{ personCtrl.person.genre }}
        </li>

        <li class="list-group-item">
          <strong>Teléfono:</strong> {{ personCtrl.person.phone }}
        </li>

        <li class="list-group-item">
          <strong>Asistencia:</strong> {{ personCtrl.person.assistance }}
        </li>

        <li class="list-group-item">
          <strong>Tipo de vivienda:</strong> {{ personCtrl.person.home }}

        </li>
        <li class="list-group-item">
          <strong>Situación familiar:</strong> {{ personCtrl.person.family_status }}

        </li>
        <li class="list-group-item">
          <strong>Situación sanitaria:</strong> {{ personCtrl.person.health_status }}

        </li>      
        <li class="list-group-item">
          <strong>Notas:</strong> {{ personCtrl.person.notes }}

        </li>
      </ul>
    </div>
  </div>
</div>