<!DOCTYPE html>
<html ng-app='prolibertas'>
<head>
  <title>Prolibertas</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- MENU LATERAL -->
  <div class="list-group nav navbar-nav col-md-3">

    <img class="logo" src="/assets/logo.svg">

    <ul class="list-group lista">
      
      <li><a href="#" 
        class="list-group-item lista__el">
        <span class="lista__el__text">PERSONAS</span></a>
      </li>
      
      <li><a href="#" 
        class="list-group-item lista__el"><span class="lista__el__text">FAMILIAS</span></a>
      </li>
      
      <li><a href="#" 
        class="list-group-item lista__el"><span class="lista__el__text">SERVICIOS</span></a>
      </li>
      
      <li><a href="#" 
        class="list-group-item lista__el"><span class="lista__el__text">INFORMES</span></a>
      </li>

    </ul>
    
    <div class="info">
      <img class="info__logo" src="/assets/info.svg">
      <p class="info__text">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
      </p>
    </div>



  </div> 
  <!-- FIN MENU LATERAL -->

  <div class="col-md-9 col-md-offset-3 body" ui-view><p>SOY EL BODY</p></div>

    <!-- FOOTER -->
    <footer class="footer">
      <img class="footer__img" src="/assets/logo_footer.svg">
      <p class="footer__text">www.prolibertas.org - info@prolibertas.org</p>
    </footer>
  </div> 

</body>
</html>
