<!DOCTYPE html>
<html ng-app='prolibertas'>
<head>
  <title>Prolibertas</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>

  <div class="list-group nav navbar-nav col-md-2 col-sm-2 col-lg-2 col-xs-2">

    <!--<img class="logo" src="/assets/logo-menu.svg">-->

          <li><a href="#"
            class="list-group-item menu__el col-xs-12"><span class="menu__el__text">FAMILIAS</span></a>
          </li>

          <% if current_user.role == 'director' or current_user.role == 'worker' %>

          <li><a ui-sref="servicios"
            class="list-group-item menu__el col-xs-12"><span class="menu__el__text">SERVICIOS</span></a>
          </li>

          <li><a ui-sref="usuarios" id="go-users"
            class="list-group-item menu__el col-xs-12" title="Gestión de usuarios"><span class="menu__el__text">USUARIOS</span></a>
          </li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>
</div>

  <!-- FIN MENU LATERAL -->

  <!-- VISTA DINÁMICA CON ANGULARJS -->
  <div id="principal" ui-view class="vista col-md-10 col-sm-10 col-lg-10 col-xs-10
          col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2"></div>
  <!-- FIN DE VISTA DINÁMICA CON ANGULARJS -->
</body>
</html>
