<!DOCTYPE html>
<html ng-app='prolibertas'>
<head>
  <title>Prolibertas</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>

  <div class="list-group nav navbar-nav col-md-2 col-xs-2 col-sm-2">

    <!--<img class="logo hidden-xs" src="/assets/logo-menu.svg">-->

    <div class="menu__users" title="Gestión de usuarios">
      <a ui-sref="usuario.perfil({id: currentUser.id})"  ui-sref-active="active" id="perfil" class="glyphicon glyphicon-user" aria-hidden="true"></a>
    </div>
        <div class="menu__logout" title="Cerrar sesión">
      <%= link_to destroy_user_session_path, id: "logout", method: :delete do %>
        <i class="glyphicon glyphicon-log-out"></i>
      <% end %>
    </div>

    <ul class="list-group menu">

      <li><a ui-sref="personas" ui-sref-active="active"
        class="list-group-item menu__el"><span class="menu__el__text">PERSONAS</span></a>
      </li>

      <li><a ui-sref="familias" ui-sref-active="active" id="go-families"
        class="list-group-item menu__el"><span class="menu__el__text">FAMILIAS</span></a>
      </li>
      <% if current_user.role == 'director' or current_user.role == 'worker' %>

      <!--
      <li>
        <a ui-sref="informes"  ui-sref-active="active" id="go-reports"
        class="list-group-item menu__el" title="Informes"><span class="menu__el__text">INFORMES</span></a>
        </li>
      -->

      <li>
        <a ui-sref="usuarios"  ui-sref-active="active" id="go-users"
        class="list-group-item menu__el" title="Gestión de usuarios"><span class="menu__el__text">USUARIOS</span></a>
      </li>

      <% end %>
    </ul>

    <div class="info col-md-3">
      <img class="info__logo" src="/assets/fondo_casa.png">
      <p class="info__text">

      </p>
    </div>

  </div>
  <!-- FIN MENU LATERAL -->

  <!-- VISTA DINÁMICA CON ANGULARJS -->
  <div id="principal" ui-view class="vista col-md-10 col-sm-10 col-lg-10 col-xs-10
          col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2"></div>
  <!-- FIN DE VISTA DINÁMICA CON ANGULARJS -->
</body>
</html>
